*{
    margin: 0;
    padding: 0;

    header{
        
        height: 80px;
        align-items: center;
        display: grid;
        background-color: red;

        nav{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .links{

                ul{
                    display: flex;
                    list-style-type: none;
                    gap: 20px;

                    li{

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}